{{> head}}
{{> navbar }}
<div>
    <div class="col-8">
        <h1>Curso Node</h1>
    </div>
    
    <div class="col-4">
        <img src="/assets/img/Prueba.jpg" alt="img-thumbnail">
    </div>
</div>
{{> footer}}
</body>

</html>